<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
   <table class="table table-bordered">
   <thead>
     <th></th>
     <th></th>
     <th>CURSOS</th>
     <th></th>
     <th></th>
   </thead>
   <tbody>
     <tr>
       <td>Análize e Desenvolvimento de Sistemas</td>
       <td>Eventos</td>
       <td>Getão Comercial</td>
       <td>Recursos Humanos</td>
       <td>Gestão Empresarial</td>
     </tr>
   </tbody>
 </table>
</div>
</body>
</html>
